#blocks{
	font-family:tahoma;
	font-size:15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding:5%;
	margin:10%;
	border-radius:2px;
}
#blocks:hover{
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 25px 0 rgba(0, 0, 0, 0.21);
}